:root {
  --bg-color: #282828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg-color);
}

canvas {
  width: 60vh;
  height: 100vh;
  border-radius: 8px;
  background-color: white;
  z-index: 999;
  border: 8px solid rgba(0, 0, 0, 0.8);
}

.virtual-controller {
  position: absolute;
  bottom: 2.5rem;
  width: 100%;
  padding: 0 2rem;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 1rem;
  z-index: 1000;
}

.virtual-controller div {
  display: flex;
  gap: 1rem;
}

.virtual-controller button {
  padding: 1rem;
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
}
