:root {
  --bg-color: #282828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg-color);
}

canvas {
  width: 6%;
  height: 100vh;
  border-radius: 8px;
  /* box-shadow: 0px 0px 24px 6px rgba(255, 255, 255, 0.3); */
  background-color: white;
  z-index: 999;
  border: 8px solid rgba(0, 0, 0, 0.8);
}

.virtual-controller {
  position: absolute;
  bottom: 2.5rem;
  width: 100%;
  padding: 0 2rem;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 1rem;
  z-index: 1000;
}

.virtual-controller div {
  display: flex;
  gap: 1rem;
}

.virtual-controller button {
  padding: 1rem;
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
}

@keyframes swing {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(0);
  }

  75% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(0);
  }
}

#bg-asteroid-1,
#bg-asteroid-2,
#bg-asteroid-3,
#bg-asteroid-4 {
  position: absolute;
  animation: swing linear 15s infinite;
}

#bg-asteroid-1 {
  top: 3rem;
  left: 4rem;
  width: 250px;
  height: auto;
  z-index: 0;
  animation-duration: 25s;
}

#bg-asteroid-2 {
  bottom: 4rem;
  right: 4rem;
  width: 200px;
  height: auto;
  z-index: 1;
  animation-duration: 30s;
}

#bg-asteroid-3 {
  top: 4rem;
  right: 8rem;
  width: 175px;
  height: 175px;
  z-index: 2;
  animation-duration: 28s;
}

#bg-asteroid-4 {
  bottom: 4rem;
  left: 4rem;
  width: 175px;
  height: 175px;
  z-index: 2;
  animation-duration: 22s;
}
